<center>
  <h1 class="tit">ABOUT</h1>
<div class="PersInf">
  <div align="left">
  <h3 class="hist"><u>Personal information</u></h3>
  {{#with myData.aboutme}}
  <label for=""><strong>First-Last name :</strong> {{Fullname}}<br></label><br><br>
  <label for=""><strong>You can call me :</strong> {{Nname}}<br></label><br><br>
  <label for=""><strong>Age :</strong> {{Age}}<br></label><br><br>
  <label for=""><strong>Date of birth : </strong>{{Birth}}<br></label><br><br>
  <label for=""><strong>Address : </strong>{{Address}} <br></label><br><br>
  <label for=""><strong>Email : </strong>{{Email}} <br></label><br><br>
  <label for=""><strong>Phone : </strong>{{Phone}} <br></label><br><br>
  {{/with}}
  </div>
</div>
</center>