

<center>
  <h1 class="tit">SKILLS</h1>
</center>
<div class="backAb">
<p class="skillhead"><u>The ability to work on software.</u></p>
  <div class="textskill">
    {{#with myData.skill}}
    <p><b>HTML : </b></p>
    <div class="container">
      <div class="skills html">{{Html}}</div>
    </div>

    <p><b>CSS : </b></p>
    <div class="container">
      <div class="skills css">{{Css}}</div>
    </div>

    <p><b>JavaScript : </b></p>
    <div class="container">
      <div class="skills js">{{Js}}</div>
    </div>

    <p><b>PHP : </b></p>
    <div class="container">
      <div class="skills php">{{Php}}</div>
    </div>

    <p><b>JAVA : </b></p>
    <div class="container">
      <div class="skills java">{{Java}}</div>
    </div>
    {{/with}}
  </div>
  </div>